.call-to-action {
    background: $primary-dark-1 url("../images/bg-boost-desktop.svg") 0 / cover no-repeat;
    padding: 6rem 0;
    text-align: center;

    .h2 {
        color: #FFF;
        margin-bottom: 2.5rem;
    }
}
