.bg-gray {
    background-color: #EFF1F7;
}

.shorten {
    position: relative;
}
.shorten-form {
    background: $primary-dark-1 url("../images/bg-shorten-desktop.svg") 0 / cover no-repeat;
    border-radius: $borderRadius-shorten;
    padding: 5rem 6rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    transition: height 300ms ease-in-out;

    label {
        display: none;
    }
    #url {
        flex: 1;
        padding: 0 3rem;
        color: $support-dark-2;
        border: none;
        border-radius: $borderRadius-shorten;
        transition: box-shadow 300ms ease-in-out;
        outline: none;
        position: relative;
        z-index: 1;


        &::placeholder {
            color: $support-light-2;
            transition: color 300ms ease-in-out;
        }
        &:focus {
            box-shadow: inset 0 0 0 4px $primary;
        }
        &.error {
            box-shadow: inset 0 0 0 4px $secondary;
        }
        &.error::placeholder {
            color: $secondary + 60%;
        }
    }
    .cta {
        border-radius: $borderRadius-shorten;
    }
    .msg {
        flex: 1 100%;
        margin-top: 0.6rem;
        display: none;
        opacity: 0;
        transform: translate3D(0, -15px, 0);
        transition-property: opacity, transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;

        p {
            max-width: 480px;
            font-size: 1.6rem;
            line-height: 1.5;
            color: $support-light-2;
            transition: color 300ms ease-in-out;
        }
        &.display {
            display: block;
        }
        &.show {
            opacity: 1;
            transform: none;
        }

    }
    .msg.error p {
        color: $secondary;

        a {
            color: $secondary + 120%;
            transition: color 200ms ease-in-out;

            @include desktop-supported {
                &:hover {
                    color: $primary;
                }
            }
            &:active {
                color: $primary;
            }
        }
    }
}

.shorten-result {
    display: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &.display {
        display: block;
    }
    &.show {
        opacity: 1;
    }
    .item {
        background-color: #FFF;
        border-radius: $borderRadius-shorten;
        margin-top: 2rem;
        padding: 2rem - $padding-shortenItem 3rem;
        display: none;
        align-items: center;
        opacity: 0;
        transform: translate3D(0, -15px, 0);
        transition-property: opacity, transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;

        > * {
            display: inline-block;
        }
        .entry {
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .entry-shorten {
            padding: 1.2rem;
            margin-left: 4rem - $padding-shortenItem;
            margin-right: 2rem - $padding-shortenItem;
            color: $primary;
            transition: color 300ms ease-in-out;

            @include desktop-supported {
                &:hover {
                    text-decoration: underline;
                }
            }
            &:active {
                color: $primary-light-1;
            }
        }
        .copy {
            font-size: $body-sm;
            border-radius: $borderRadius-shorten / 2;
            padding: 0.8rem 3rem;
            transition: background-color 300ms ease-in-out;

            &.copied {
                background-color: $primary-dark-1;
                cursor: default;
            }
        }
    }
    .item.display {
        display: flex;
    }
    .item.show {
        opacity: 1;
        transform: none;
    }
}

.shorten-clean {
    display: none;
    font-size: $body-sm;
    font-weight: 700;
    color: $support-light-2;
    background-color: #FFF;
    border-radius: $borderRadius-shorten;
    padding: 1.2rem 3rem;
    margin-top: 2rem;
    margin-left: auto;
    transition-property: color, opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    opacity: 0;
    transform: translate3D(0, -15px, 0);
    cursor: pointer;

    &.display {
        display: block;
    }
    &.show {
        opacity: 1;
        transform: none;
    }
    @include desktop-supported {
        &:hover {
            color: $support-dark-2;
        }
    }
    &:active {
        color: $support-dark-2;
    }
}


@include breakpoint-lg {
    .shorten-form {
        padding: 2.5rem;
        flex-direction: column;
    
        #url {
            order: -2;
            flex: initial;
            padding: 1.6rem 3rem;
        }
        .msg {
            order: -1;
            flex: initial;
            margin-top: 0.6rem;
    
            p {
                font-size: 1.4rem;
            }
        }
        .cta {
            margin-top: 2rem;
        }
    }
    .shorten-result .item {
        flex-direction: column;
        align-items: flex-start;
        padding: 2.5rem 0;

        .entry {
            width: 100%;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $support-light-1;
            margin-bottom: 1.5rem - $padding-headerItem;
        }
        .entry-shorten {
            padding: 1.2rem 2.5rem;
            margin-left: initial;
            margin-right: initial;
        }
        .copy {
            margin-left: 2.5rem;
            margin-right: 2.5rem;
        }
    }
}

@include breakpoint-sm {
    .shorten-form #url {
        padding: 1.2rem 2rem;
        font-size: 16px;
    }
    .shorten-form .msg p {
        font-size: 1.3rem;
        line-height: 1.4;
    }
    .shorten-form .cta {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        font-size: 16px;
    }

    .shorten-result .item {
        padding: 2rem 0;

        .entry {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .entry-shorten {
            padding: 1.2rem 2rem;
        }
        .copy {
            display: block;
            width: calc(100% - 4rem);
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    .shorten-clean {
        width: 100%;
        text-align: center;
    }
}