.statistics {
    padding-top: 12rem;
    padding-bottom: 12rem;

    &-intro {
        text-align: center;
        margin-bottom: 6rem;

        p {
            max-width: 500px;
            @include m-h-auto;
            font-size: 1.8rem;
            line-height: 1.6;
            margin-top: 2.5rem;
            color: $support-light-2;
        }
    }

    &-cards {
        position: relative;
        display: flex;
        align-items: flex-start;
        column-gap: 3rem;
        padding-top: $displacement-statisticsIcon;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            background-color: $primary;
            position: absolute;
            z-index: 1;
            top: calc(50% - 5px);
        }

        & &-item {
            position: relative;
            z-index: 2;
            background-color: #FFF;
            border-radius: 5px;
            padding: 0 3rem 4.5rem;
    
            .icon {
                margin-top: -$displacement-statisticsIcon;
                margin-bottom: 4rem;
                width: $dimensions-statisticsIcon;
                height: $dimensions-statisticsIcon;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-dark-1;
            }
            .h3 {
                margin-bottom: 2.5rem;
            }
            p {
                font-size: 1.5rem;
                line-height: 1.8;
                color: $support-light-2;
            }
        }
        & &-item:nth-child(2) {
            margin-top: 4.5rem;
        }
        & &-item:nth-child(3) {
            margin-top: calc(4.5rem * 2);
        }
    }
}

@include breakpoint-xxl {
    .statistics {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

}

@include breakpoint-lg {
    .statistics {
        padding-bottom: 6rem;
    }
    .statistics-intro {
        margin-bottom: 4rem;
    }

    .statistics-cards {
        flex-direction: column;
        row-gap: 50px + $displacement-statisticsIcon;

        &::before {
            width: 10px;
            height: 100%;
            top: 0;
            left: calc(50% - 5px);
        }

        & &-item {
            width: 100%;
            text-align: center;
    
            .icon {
                margin-bottom: 3rem;
                @include m-h-auto;
            }
            .h3 {
                margin-bottom: 2;
            }
            p {
                max-width: 500px;
                line-height: 1.7;
                @include m-h-auto;
            }
        }
        & &-item:nth-child(2),
        & &-item:nth-child(3) {
            margin-top: 0;
        }
    }
}

@include breakpoint-sm {
    .statistics-intro  p {
        font-size: 1.6rem;
    }
    
}